.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding: 0 1rem; /* Thêm padding trái phải nhỏ để tránh tràn */
  margin: 0 auto; /* Căn giữa danh sách */
  max-width: 100vw; /* Đảm bảo không vượt quá chiều rộng của cửa sổ */
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng thể */
}



.test{
  padding: 128px 48px 48px;
}