.pokemon-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

.pokemon-stat-height {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pokemon-stat-weight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weight, .height {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

.pokemon-stats {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

svg {
    margin-right: 8px;
}