.pokemon-card {
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .pokemon-card img {
    max-width: 200px;
    max-height: 200px;
  }
  
  .pokemon-card h3 {
    margin: 0;
    font-size: 1.2em;
  }
  