.pokemon-card {
  box-sizing: border-box;
  position: relative;
  width: 416px;
  height: 386px;
  padding: 128px 42px 42px;
  margin-top: 24px;
  text-align: center;
  background-image: url('/public/half-pokeball.svg'), radial-gradient(80% 80% at 50% bottom, var(--primary-color, rgb(0, 0, 0)), rgba(6, 14, 32, 0.8));
  background-size: auto 110%;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 42px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 1;
  transform: none;
}

.pokemon-card:hover {
  transform: translateY(-10px);
}

.pokemon-card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  filter: saturate(1.9);
  width: 280px;  /* Đặt chiều rộng cố định */
  height: 280px; /* Đặt chiều cao cố định */
  z-index: 100;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 42px 0px 0px;
}

.pokemon-name {
  position: relative;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 8px;
}

.pokemon-name::before, .pokemon-name::after {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  content: " ";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
}

.pokemon-name::before {
  left: -20px;
}

.pokemon-name::after {
  right: -20px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1400px) {
  .pokemon-card {
    width: 356px;
    height: 383px;
  }
}

@media (max-width: 1200px) {
  .pokemon-card {
    width: 298px;
    height: 383px;
  }
}

@media (max-width: 1000px) {
  .pokemon-card {
    width: 336px;
    height: 374px;
  }
}

@media (max-width: 768px) {
  .pokemon-card {
    width: 515px;
    height: 374px;
  }
}

@media (max-width: 576px) {
  .pokemon-card {
    width: 80%px;
    height: 383px;
  }
}